body{
  background-repeat: no-repeat;
  background-size: cover;
}

.content{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.top{
  top: 35px;
}

#file {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
  color: #ffffff;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}

.slidecontainer {
  width: 75%;
  position: fixed;
  left: 310px;
  bottom: calc(100% - 38px);
  z-index: 100;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.canvas_hover{
  width: 100%;
  height: 100%;
  position: fixed;
}
